<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Tutorial Sharing</a>
  
  
</nav>
<br/>
<div class="container-fluid">
  <h2 class="mb-2">Angular 15 Pagination and Search</h2>
  <div class="card card-primary">

    <div class="card-body">
      <div class="d-flex">

        <input type="text" class="form-control mr-2" placeholder="search by id name name" [(ngModel)]="seaching"
        name="searching" />

        <button type="button" class="btn btn-primary mr-2" (click)="bsearch()">Search</button>
        <button type="button" class="btn btn-info" (click)="clear()">All</button>
      </div>
 
      <table class="table table-bordered mt-2">
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Body</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of resData | paginate: config">
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.body}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="float-right">
      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
  </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>